<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
    <host>10.108.71.122</host>
    <port>5000</port>
    <layout class="net.logstash.logback.layout.LogstashLayout"/>
  </appender>
  <root level="all">
    <appender-ref ref="stash" />
  </root>
</configuration>
